bin
.idea
.vscode
dist/

openfga
!openfga/

coverage*.out
*.swp

.DS_Store
test.db
Mobile.xcframework
Mobile.aar
MobileOpenFGA.xcframework
MobileOpenFGA.aar
outputs/Mobile-sources.jar
outputs/MobileOpenFGA-sources.jar
